//colors
$mainColor: rgb(0, 94, 255);
$secondaryColor: rgb(222, 222, 222);

//fonts
$fontFamily: 'Lato', sans-serif;

.header {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $fontFamily;
    color: $mainColor;
    background-color: $secondaryColor;
}

.navBar {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}