//colors
$mainColor: rgb(0, 94, 255);
$secondaryColor: rgb(222, 222, 222);
$hoverColor: rgb(150, 150, 150);
$linkActiveColor: rgb(135, 135, 135);

//fonts
$fontFamily: "Lato", sans-serif;

.header {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: $fontFamily;
  color: $mainColor;
  background-color: $secondaryColor;
}

.header a {
    text-decoration: none;
    color: $mainColor;
}

.navBar {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.navBar a {
  text-decoration: none;
  color: $mainColor;
}

.navBar a:hover {
  cursor: pointer;
  color: $hoverColor;
  text-decoration: underline;
}

.active-nav-item {
    color: $linkActiveColor;
}